<!-- <app-loginfrm></app-loginfrm> -->

<!-- <app-login2></app-login2> -->
<!-- <app-createdrive></app-createdrive> -->
<!-- <app-registration></app-registration> -->

<!-- <app-view></app-view> -->
<!-- <app-editdrive></app-editdrive> -->
<div style="padding:5px">
    <ul class="nav nav-tabs">

        <li routerLinkActive="active"><a routerLink="home">HOME</a> </li>
        <li routerLinkActive="active"><a routerLink="create">CREATE</a> </li>
        <li routerLinkActive="active"><a routerLink="view">VIEW</a> </li>
        <!-- <li routerLinkActive="active"><a routerLink="edit">EDIT</a> </li>
 -->
    </ul>
    <router-outlet></router-outlet>
</div> 
<!-- {{myStr|slice:3:7}}
{{myStr|slice:3:-2}} -->