<form [formGroup]="loginfrom" (ngSubmit)="submit()">

    <div>
      <label for="email">Email Id</label>
  
      <input type="text" name="email" id="email" [formControl]="email">
  
      <div [hidden]="email.valid || email.untouched">
       
        <div [hidden]="!email.hasError('required')">
          Username is required.
        </div>
        <div [hidden]="!email.hasError('pattern')">
          Enter valid email Id.
        </div>
      </div>
    </div>
  
    
    <div>
      <label>password</label>
      <input type="password" name="password" id="password" [formControl]="password">
  
      <div [hidden]="password.valid || password.untouched">
        <div [hidden]="!password.hasError('required')">
          The password is required.
        </div>
        <div [hidden]="!password.hasError('minlength')">
          Username can not be shorter than 5 characters.
        </div>
      </div>
    </div>
  
    <button type="submit" [disabled]="!loginfrom.valid">Log In</button>
  </form>
  
  
